---
title: Bastian Teeuwen Tattoo - Groningen
---
<section class="px-6 h-screen flex flex-col justify-center items-center bg-blend-soft-light bg-neutral-700 bg-cover bg-center bg-no-repeat" style="background-image: url(<%= asset_url "assets/images/bastian-teeuwen-tattoo-01.jpg" %>)">
  <div class="text-center text-white">
    <!-- Logo ? -->
    <h1 class="text-2xl text-center">Bastian Teeuwen Tattoo</h1>
    <h2 class="text-xl">Tagline</h2>
  </div>
</section>

<section class="h-screen bg-white flex flex-col justify-center items-center">
  <div class="max-w-4xl px-6 sm:columns-2">
    <h2 class="text-black text-xl font-medium mb-3">Welcome to the brand new tattoo shop of Bastian Teeuwen in the heart of Groningen!</h2>
    <p class="text-black mb-3">After spending years honing my craft at a renowned tattoo parlor, I finally decided to take the leap and establish my own artistic space. I'm Bastian Teeuwen, and I couldn't be prouder to invite you to experience the fusion of passion and craftsmanship in my studio.</p>
    <p class="text-black mb-3">
      At my shop, personal attention is the cornerstone of every tattoo experience. I'm dedicated to making your time here truly unforgettable. Whether you're looking for a completely unique creation or want to customize an existing design to match your preferences, I'm here to assist you with my expertise and artistic vision.
    </p>
    <p class="text-black font-medium">Step into the enchanting world of tattoo art where ideas come to life on your skin!</p>
  </div>
</section>

<section class="min-h-screen bg-neutral-900 flex flex-col py-24 px-6">
  <div class="max-w-7xl m-auto">
    <h2 class="text-white text-4xl text-center mb-12">Work</h2>
    <div class="columns-1 sm:columns-2 md:columns-3 gap-8">
      <div class="relative aspect-w-3 aspect-h-4 mb-8">
        <%= image_tag('work/rose-sleeve.jpg', class: "w-full object-cover rounded-lg") %>
      </div>
      <div class="relative aspect-w-1 aspect-h-1 mb-8">
        <%= image_tag('work/sailor-jerry.jpg', class: "w-full object-cover rounded-lg") %>
      </div>
      <div class="relative aspect-w-1 aspect-h-1 mb-8">
        <%= image_tag('work/pirate-girl.jpg', class: "w-full object-cover rounded-lg") %>
      </div>
      <div class="relative aspect-w-1 aspect-h-1 mb-8">
        <%= image_tag('work/boat.jpg', class: "w-full object-cover rounded-lg") %>
      </div>
      <div class="relative aspect-w-1 aspect-h-1 mb-8">
        <%= image_tag('work/moeke.jpg', class: "w-full object-cover rounded-lg") %>
      </div>
      <div class="relative aspect-w-3 aspect-h-4 mb-8">
        <%= image_tag('work/jesus-vomits-squid.jpg', class: "w-full object-cover rounded-lg") %>
      </div>
    </div>
  </div>
</section>

<section class="h-screen bg-white flex flex-col justify-center items-center">
  <h2 class="text-black text-xl">Contact Form</h2>
</section>
